.jumbotron{
    background-image: url("../img/images.jpeg");
        background-size: cover;
    height: 100%;
}

#product-price{
    font-size: 28;
    color: red;
}
#product-details{
    font-size:20px;
    font-weight:700;
}

.description{
    height:40px;
    border-color:red;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}